<a href="https://colab.research.google.com/github/renerivas/PowerBI-DataScience/blob/master/Preliminares.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. Preliminares

## 1.1 Datos simples
Son las estructuras básicas de Python

In [ ]:
4 # Entero
type(4)

In [ ]:
4.33 # Real
type(4.33)

In [ ]:
4 + 3j # Complejo
type(4 + 3j)

In [ ]:
'a' # Caracter
type('a')

In [ ]:
False # Booleano
type(True)

## 1.2 Operadores aritmeticos

In [ ]:
3 + 5 - 2*2 + 4/2 # Suma, Resta, Multiplicación y División (Operaciones básicas)

In [ ]:
13//5 # División parte entera (13/5 es igual a 2.6)

In [ ]:
13 % 5 # Al dividir 13 entre 5, el residuo es 3, al residuo se le conoce como modulo

In [ ]:
4**2 # Potencia, en este caso equivale a 4^2 (cuatro al cuadrado)

In [ ]:
'Este' + ' ' + 'es' + ' ' + 'ejemplo' # Uso del simbolo + para concatenación

## 1.3 Operadores de comparación

In [ ]:
4 == 5 # 4 es igual a 5, esto es Falso

In [ ]:
4 != 5 # 4 es diferente de 5, esto es Verdadero

In [ ]:
4 < 5 # 4 es menor que 5, esto es Verdadero

In [ ]:
4 > 5 # 4 es mayor que 5, esto es Falso

In [ ]:
4 <= 5 # 4 es menor o igual que 5, esto es Verdadero

In [ ]:
4 >= 5 # 4 es mayor o igual que 5, esto es Falso

## 1.4 Operadores booleanos

In [ ]:
# Comparar si dos más cinco es mayor a nueve y si cuatro al cuadrado es menor que veinte.
( 2 + 5 > 9 ) and ( 4**2 < 20)

**Ejercicios**

1.   Determinar si cuatro al cuadrado es mayor que nueve o cuatro al cuadrado es menor que cien entre cuatro.
2.   Determinar si la división parte entera de cinco entre dos es mayor que el modulo de la división de cinco entre dos y si cuatro al cuadrado es igual de la raiz cuadrada de 256.
3. La negación de que ocho por cuatro es igual es treinta y dos.
4. La negación de que la palabra 'Ocho' no es igual a la palabra 'ocho'

In [ ]:
# Ejercicio 1

In [ ]:
# Ejercicio 2

In [ ]:
# Ejercicio 3

In [ ]:
# Ejercicio 4

## 1.5 Variables

In [ ]:
variable = 3

In [ ]:
_nombre = 'Mi nombre'

In [ ]:
def = 3.1416  # Esto da error

In [ ]:
4caso = 'Hola mundo' # Esto da error

In [ ]:
help("keywords")

# 2. Funciones

## 2.1 Funciones básicas

La función type() se utiliza para validar el tipo de dato con el que estamos trabajando

In [ ]:
x = False
type(x)

Para convertir tipos de datos, se tienen las funciones int(), float(), str()

In [ ]:
# Asigno a m el valor de '8'
m = '8'
type(m)

In [ ]:
# Lo convierto a int y lo asigno en y
y = int(m)
type(y)

La función input() se utiliza para solicitar al usuario que ingrese un valor, este valor se puede guardar en una variable.

La función input() guarda los valores como string, si se quiere guardar otro tipo de dato se deben usar las funciones de conversión (int() float())

In [ ]:
input('Ingrese su nombre: ') # Si no se guarda en una variable, el valor solo se moestrará en consola

In [ ]:
nombre = input(' Ingrese su nombre: ') # El valor queda guardado en la variable

In [ ]:
edad = input('Ingrese su edad: ')

In [ ]:
edad = int(input('Ingrese su edad: '))

La función print() se utiliza para mostrar valores en consola, como mensajes o los valores de las variables.

Si se quieren concatenar variables, mensajes o ambos; se separan por una coma.

In [ ]:
print('Hola mundo')

In [ ]:
print(edad)

In [ ]:
print('Mi edad es:', edad)

**Ejercicio**

Escriba los comandos necesarios para solicitarle al usuario los ingresos mensuales, y luego mostrar el mensaje "El salario anual es de : salario_anual"

In [ ]:
# Resolución de ejercicio

## 2.2 Funciones de modulo

In [ ]:
# Vamos a importar la función "sqrt" del modulo "math"
from math import sqrt

In [ ]:
x = float(input('Ingresar número real positivo: '))
y = sqrt(x)
print('La raíz cuadrada de',x, 'es', round(y, 3))

In [ ]:
# Importemos todo el modulo math con el seudónimo mt
import math as mt

In [ ]:
# Accediendo a documentacion
help('math')

**Ejercicio**

Solicite al usuario un valor, y obtenga el logaritmo base 10 del valor. Muestre el resultado con un mensaje personalizado.

In [ ]:
# Resolución de ejercicio

## 2.3 Composiciones alternativas

In [ ]:
# Composición alternativa simple. Se solicitará al usuario ingresar un valor númerico, si es mayor que cero se mostrará el valor en pantalla
x = float(input(' Ingrese un valor númerico: '))
if x > 0:
  print(x)

In [ ]:
# Composición alternativa compuesta. Se solicitará al usuario ingresar sus años de experiencia.
# Si ingresa un valor entre 1 y 2 debe mostrar el mensaje 'Crédito sujeto a inspección'
# Si ingresa un valor entre 3 y 5 debe mostrar el mensaje 'Crédito monto fijo'
# Si ingresa un valor mayor a 5 debe mostrar el mensaje 'Crédito monto variable'
# Si ingresa otro valor debe mostrar el mensaje 'Error'
experiencia = int(input(' Ingrese su experiencia laboral en años: '))
if (experiencia >= 1) and (experiencia <= 2):
  print('Crédito sujeto a inspección')
elif (experiencia >= 3) and (experiencia <= 5):
  print('Crédito monto fijo')
elif (experiencia > 5):
  print('Crédito monto variable')
else:
  print('Error')

**Ejercicio**

Solicitar al usuario su edad, y mostrar lo siguiente:
*   Si ingresa un valor menor a cero mostrar error
*   Si ingresa un valor entre 0 y 18 años mostrar el mensaje 'En edad no laboral'
*   Si ingresa un valor entre 19 y 65 años mostrar el mensaje 'En edad laboral'
*   Si ingresa un valor entre 65 y 99 años mostrar el mensaje 'Jubilado, los años liquidos de pensión son:' concatenado con el calculo de 99 años menos la edad ingresada.
*   Mayor a 99 años mostrar el mensaje "Sin fondo"

In [ ]:
# Resolución de ejercicio

## 2.4 Composiciones iterativas

Composiciones iterativas con *for*

In [ ]:
# Se puede recorrer un rango númerico, para ello se utiliza la función range.
# La estructura de la función range es range(inicio, fin, paso). Si no se especifica el paso, el valor se toma como 1
# Si solo se especifica un valor range(n), recorre todos los valores desde 0 hasta n-1
for i in range(1,5):
  print(i)

In [ ]:
for i in range(3):
  print(i)

In [ ]:
for i in range(1,10,2):
  print(i**i)

In [ ]:
# Se solicitará al usuario un valor inicial y un valor final. Se mostrará la suma de todo el recorrido.
valor_inicial = int(input('Valor inicial: '))
valor_final = int(input('Valor final: '))
suma = 0
for i in range(valor_inicial,valor_final+1):
  suma = suma + i
print(suma)

Composiciones iterativas con *while*

In [ ]:
i = 0 # Variable de recorrido con valor inicial
while i < 10: # Condición
  print('El valor es:', i) # Instrucciones
  i = i + 1 # Incremental. También se podría utilizar i+=1

In [ ]:
# Solicitar un valor al usuario un valor entero positivo, y sumar todos los cuadrados de los valores
valor = int(input('Ingresar un valor entero positivo: '))
i = 0
suma_c = 0
while i <= valor:
  suma_c = suma_c + i**2
  i +=1
print(suma_c)

**Ejercicio**

Crear un programa que le pida a un usuario un valor entero positivo, y retorne la suma de todas las raíces cuadradas. Si el valor ingresado es igual o menor a cero, que muestre el mensaje "El valor ingresado debe ser un entero positivo".

In [ ]:
# Resolución del ejercicio (con incremento)

In [ ]:
# Resolución del ejercicio (con decremento)

## 2.5 Nuevas funciones

In [ ]:
# Se creará una función que sume a un entero los dos números consecutivos
def suma_consecutiva(entero):
  """
  Funcion que suma al entero los dos enteros consecutivos
  """
  return entero + entero + 1 + entero + 2

In [ ]:
y = suma_consecutiva(5)

In [ ]:
y

In [ ]:
help(suma_consecutiva)

**Ejercicio**

Crear una función donde si el número es menor o igual que cero retorne el cuadrado de número, si no retorne la suma desde uno hasta el número ingresado.

In [ ]:
# Resolución de ejercicio

# 3. Estructuras Compuestas

## 3.1 Listas

In [ ]:
# Definiendo una lista
lista1 = [1,2,3]
lista1

In [ ]:
 # Se pueden crear listas vacias con el comando nombre_lista = cantidad_elementos * [0]
 lista_vacia = 3* [0]
 lista_vacia

In [ ]:
# Combinando tipos de datos en una lista
lista2 = [2 , 'prueba', [1,2]]
lista2

Accedamos a los elementos de la lista

In [ ]:
lista2

In [ ]:
lista2[0]

In [ ]:
lista2[2]

In [ ]:
lista2[3]

In [ ]:
lista2[0:2] # Accede a todos los elementos de la lista desde el indice 0 hasta el indice 2-1

Cambiemos elementos de una lista

In [ ]:
lista2

In [ ]:
lista2[0] = [2,3] # Cambiamos el elemento con indice 0, que corresponde al primer elemento
lista2

In [ ]:
# Las listas se puede concatenar utilizando el signo más (+)
lista3 = lista1 + lista2
lista3

Longitud de una lista

In [ ]:
# La función len() nos ayuda a obtener la cantidad de elementos de una lista
len(lista3)

## 3.2 Metodos de listas

In [ ]:
# Crearemos dos listas
lista_1 = [3,25,9]
lista_2 = [[2,3],8,'a']

In [ ]:
# Agregando el elemento -5 en la lista 1
lista_1.append(-5)
lista_1

In [ ]:
# Eliminando el primer elemento (indice 0)
lista_1.pop(0)
lista_1

In [ ]:
lista_2

In [ ]:
# Eliminando el elemento 8 en la lista_2
lista_2.remove(8)
lista_2

In [ ]:
lista_1

In [ ]:
# Ordenando elementos
lista_1.sort() # lista_1.sort(reverse = False)
lista_1

In [ ]:
lista_1

In [ ]:
lista_2

In [ ]:
# Añadimos elementos de lista_2 a lista_1
lista_2.extend(lista_1)
lista_2

In [ ]:
type(lista_2)

## 3.3 Trabajando con listas

In [ ]:
# Accediendo a todos los elementos de una lista

In [ ]:
lista_3 = [3, 4, 5]

In [ ]:
for i in lista_3:
  print(i)

In [ ]:
for i in range(len(lista_3)):
  print(lista_3[i])

In [ ]:
# Crear una función que eleve al cuadrado todos los elementos de una lista
def lista_cuadrado(lista):
  for i in lista:
    print(i**2)

In [ ]:
lista_cuadrado(lista_3)

In [ ]:
3 * [0]

In [ ]:
def lista_cuadrado_2(lista):
  lista_final = len(lista)*[0]
  for i in range(len(lista)):
    lista_final[i] = lista[i]**2
  return lista_final

In [ ]:
# Crear una función que sumen dadas dos listas, las sume y devuelva la lista
def lista_suma(lista1, lista2):
  lista3 = len(lista1) * [0]
  for i in range(len(lista1)):
    lista3[i] = lista1[i] + lista2[i]
  return lista3

In [ ]:
lista1 = [4, 8, 9]
lista2 = [0, 1, 2]
lista_suma(lista1, lista2)

**Ejercicio**

Cree una función que dadas dos listas, multiplique los valores de cada una de ellas. Si las listas tienen diferente longitud, debe indicar el mensaje "listas de diferente tamaño"

## 3.4 Pandas Series

Creación de Series. Importante importar el modulo *pandas.*

In [ ]:
import pandas as pd

In [ ]:
serie1 = pd.Series(['Matemáticas', 'Sociales', 'Lenguaje', 'Ciencias', 'Inglés']) #, dtype = str)

In [ ]:
type(serie1) # Examinemos el tipo de dato creado

In [ ]:
type(serie1[0]) # Examinemos el tipo de dato de uno de sus elementos

In [ ]:
serie2 = pd.Series(['8',9,'0'])
type(serie2[2]) # Python asigna en automatico el tipo de dato

In [ ]:
serie2

## 3.5 Pandas Dataframe

Creación de un Dataframe

In [ ]:
# Opcion 1, con listas por registro, las listas representas: Nombre, Edad, Ciudad, Experiencia
registro1 = ['Carlos', 32, 'Santa Tecla', 4]
registro2 = ['Juan', 42, 'San Salvador', 7]
registro3 = ['Pedro', 39, 'Zaragoza', 12]
registro4 = ['Ricardo', 28, 'Antiguo Cuscatlan', 9]

In [ ]:
# Opción 1 de creación de un dataframe
import pandas as pd
dataframe1 = pd.DataFrame(data = [registro1, registro2, registro3, registro4], columns = ['Nombre', 'Edad', 'Ciudad', 'Experiencia'])

# ¿Qué pasaría si no declaramos las columnas?

In [ ]:
dataframe2 = pd.DataFrame(data = [registro1, registro2, registro3, registro4])

In [ ]:
dataframe1

In [ ]:
# Opcion 2, con listas por variable
lista1 = ['Carlos', 'Juan', 'Pedro', 'Ricardo'] # Nombres
lista2 = [35,42,39,28] # Edades
lista3 = ['Santa Tecla', 'San Salvador', 'Zaragoza', 'Antiguo Cuscatlan'] # Ciudad
lista4 = [4, 7, 12, 9] # Años Laborales

In [ ]:
dataframe2 = pd.DataFrame({
    'Nombre': lista1,
    'Edad': lista2,
    'Ciudad': lista3,
    'Experiencia': lista4
})

In [ ]:
dataframe2

## 3.6 Accediendo a datos en el dataframe
Las filas y columnas en un dataframe inician con el índice cero, si no se ha hicieron cambios cuando se creo el dataframe

In [ ]:
dataframe1

In [ ]:
# Para seleccionar un elemento se especifica dataframe[indice_columna][indice_fila]
dataframe1['Edad'] [1]

In [ ]:
# Para acceder a una columna se tienen dos opciones:
dataframe1['Nombre']
dataframe1.Nombre

In [ ]:
# Se puede acceder a múltiples filas, incluyendolas en una lista
dataframe1[['Nombre', 'Ciudad']]

In [ ]:
# Para seleccionar múltiples filas se ocupa la sintaxis
# data_frame[indice_inicial:indice_final]
dataframe1[0:2]

## 3.7 Metodos de dataframe

In [ ]:
type(dataframe1)

Metodo info

In [ ]:
# Metodo .info
dataframe1.info()

Metodo head

In [ ]:
# Metodo .head()
dataframe1.head()

Metodo astype

In [ ]:
# Cambiando el tipo de datos
dataframe1.Edad.astype(str)
dataframe1['Edad'].astype(str)

Metodo iloc

In [ ]:
# Accediendo a datos con .iloc con indice
dataframe1.iloc[0, 1]

In [ ]:
dataframe1

In [ ]:
# Accediendo a datos con .iloc con rangos de indicendice
dataframe1.iloc[0:2, 1:2]

In [ ]:
# Accediendo a datos con .iloc con la posicion el listado de indices
dataframe1.iloc[[1,2], [1,3]]

In [ ]:
# Revisemos las diferentes formas de utilizar el iloc
# 1. [:, :]
# 2. [:1, :]
# 2. [:, :1]
dataframe1.iloc[:2,:3]

Metodo loc

In [ ]:
dataframe1

In [ ]:
# Metodo de .loc
dataframe1.loc[0,'Nombre'] # Que ocurre si colocamos 0,0?

In [ ]:
dataframe1.loc[:,:]

In [ ]:
dataframe1.loc[0:2,'Nombre':'Ciudad']

In [ ]:
# Tambien se pueden establecer condiciones
dataframe1.loc[dataframe1.Edad > 35]

In [ ]:
# Operadores booleanos en .loc (Y = &, O = |)
# Ejercicio
# 1. Mostrar todos los datos; Edad menor de 35 años y menos de 10 años de experiencia
# 2. Mostrar solo los nombres; Edad menor de 35 años y menos de 10 años de experiencia
# 3. Mostrar solo los nombres y Años de experiencia; Edad menor de 35 años, menos de 10 años de experiencia y de SS

In [ ]:
dataframe1.loc[(dataframe1.Edad < 35) & (dataframe1.Experiencia < 10)]

In [ ]:
dataframe1.loc[(dataframe1.Edad < 35) & (dataframe1.Experiencia < 10), 'Nombre']

In [ ]:
dataframe1.loc[(dataframe1.Edad < 35) & (dataframe1.Experiencia < 10) & (dataframe1.Ciudad == 'San Salvador'), ['Nombre','Experiencia']]

Metodo drop

In [ ]:
# Si no se ocupa el parametro inplace = True, los cambios no se guardan en el dataframe
dataframe1.drop(columns = 'Edad', inplace = True)

In [ ]:
dataframe1

## 3.8 Creación de nuevas variables - Dataframe

**Desde nueva lista**

In [ ]:
dataframe1

In [ ]:
lista2 = [35,42,39,28] # Edades

In [ ]:
dataframe1['Edad'] = lista2

In [ ]:
dataframe1

**Operación sobre columnas**

In [ ]:
dataframe1['Edad_cuadrado'] = dataframe1['Edad']**2

In [ ]:
dataframe1

In [ ]:
dataframe1['No laborales'] = dataframe1['Edad']-dataframe1['Experiencia']

In [ ]:
dataframe1

**Funciones lambda**
Las funciones lambda son funciones que denominamos funciones anónimas, ya que a nivel del programa pueden carecer de nombre.

Las funciones lambda se definen como:
lambda parametros : calculo_parametros

In [ ]:
def suma(x,y):
  return x+y

In [ ]:
# Funcion suma con lambda
suma_dos = lambda x,y : x + y # Si se quieren utilizar en el codigo se pueden asignar a un nombre

In [ ]:
suma_dos(3,2)

**Ejercicio**

In [ ]:
# Ejercicio. Crear la función lambda que cuente la cantidad de palabras de una oración
# Nota: Revise la documentacion del método str.split

**Operacion con metodos .assign y .apply**

In [ ]:
dataframe1

In [ ]:
# Con .assign - Crear la variable Edad al cuadrado
dataframe1 = dataframe1.assign(Edad_cuadrado2 = lambda df : df['Edad']**2 )

In [ ]:
dataframe1

In [ ]:
# Con .apply - Crear la variable Edad al cuadrado
# axis = 1 indica que se creará una nueva columna
dataframe1['Edad_cuadrado3'] = dataframe1.apply(lambda df : df['Edad']**2, axis = 1)

In [ ]:
dataframe1

**Ejercicio**
1. Eliminar las columnas Edad_cuadrado2 y Edad_cuadrado3
2. Agregar una columna que cuente la cantidad de palabras que tiene la columna Ciudad

In [ ]:
# Resolucion de ejercicio
dataframe1.drop(columns = ['Edad_cuadrado2', 'Edad_cuadrado3'], inplace = True)

In [ ]:
dataframe1

In [ ]:
dataframe1['Conteo'] = dataframe1.apply( lambda df: len(df['Ciudad'].split(' ')), axis = 1)

In [ ]:
dataframe1